*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: azure;
}

/* Banner*/

.title{
    position: absolute;
    z-index: 1;
    background-color: transparent;
    left: 36%;
    top: 15%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: italic;

}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;

}

/* Section */

section{
    position: absolute;
    z-index: 1;
    background-color: black;
    left: 36%;
    top: 20%;
    top: 500px;
}

.container{
    padding: 100px 100px;
    line-height: 2;
    object-position: center;
    border: 3px solid whitesmoke;

}

/* Styles */
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;

}

.regular{
    font-style: normal;
}

.source-code-pro{
    font-family: 'Source Code Pro';
}

.nutino-sans{
    font-family: 'Times New Roman', Times, serif;
}
