*{
    margin: 0 0;
    padding: 0 0;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
}

h1,p{
    color: white;
    font-family: Verdana;
}

h1{
    margin-top: 20px;
    font-size: 50 px;
    
}

.copyright{
    font-size: large;
    color: gray;
    text-align: right;
    right: 0%;
}

#camp{
    padding-bottom: 20px;
    margin: 20px 20px;
    text-align: center;
}
.icon{
    
}

h5{
    
    font-size: 16px;
}
a{
    color: aquamarine;
}

p{
    color: gray !important;
}

