*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}


/* Top bar */
.header{
    width: 100%;
    height: 69px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0px;

}

.logo{
    height: 50px;
    float: left;
    padding-left: 10px;
}

.nav{
    float: right;
    height: 100%;
    margin: 0 auto;

}

.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 0px;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
}

/* https://www.youtube.com/watch?v=nSRC9NIam6w&ab_channel=NenadDabic */